@import '~antd/dist/antd.css';
.main {
  margin-left: 0px;
  padding: 0px 10px;
}

.column {
    float: center;
    width: 25%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  h1 {
    font-size: 20px;
  }
  * {
    box-sizing: border-box;
  }
  